<ion-view title="Add relation" id="page8">
  <ion-content padding="true" style="background: url(img/hf6ICLdpQDACQiZ1OVbw_Summer2520Forever2520Gradient2520iOS72520iPhone252052520Wallpaper.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="addRelation-form10" class="list">
      <div>
        <img src="img/EyZBX5V7TwGGMuaQyOsu_Free-Vector-Big-Love-Happy-Couple.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
    <form id="addRelation-form11" class="list">
       {{ reponse.email|lowercase }} <br>
      <label class="item item-input" id="addRelation-input11">
        <span class="input-label">Email</span>
        <input type="text" ng-model="email" placeholder="">
      </label>
    </form>
    <button id="addRelation-button16" ng-click="ask()" class="button button-calm button-block icon-left ion-ios-heart-outline">Add your lover</button>
  </ion-content>
</ion-view>
