<ion-view title="Login" id="page7">
  <ion-content padding="true" style="background: url(img/8T0pNRocRbiTfb3q4MdQ_splase.png) no-repeat center;background-size:cover;" class="has-header">
    <center><h2 class="title" style="font-family: 'comic'">RelationShip</h2></center>
    <div>
      <img src="img/couple.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form3" class="list">
      <div class="spacer" style="width: 300px; height: 39px;"></div>
      <ion-list id="login-list3">
        <label class="item item-input" id="login-input6">
          <span class="input-label">Email</span>
          <input type="email" ng-model="email" placeholder="mail@xxxxx.fr" value=" {{ reponse.email|lowercase }}" required maxlength="255">
        </label>
        <label class="item item-input" id="login-input7">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password" placeholder="xxxxxxxxxxxxxxxx" required maxlength="255">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <button ng-click="connexion()" id="login-button4" class="button button-stable button-block">Login</button>
      <a ui-sref="signup()" id="login-button5" class="button button-positive button-small button-block button-outline">Or create an account</a>
    </form>
  </ion-content>
</ion-view>
