<ion-view title="Signup" id="page6">
  <ion-content padding="true" style="background: url(img/oXAvA5PESbqSkHB65Q61_splase.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Lastname</span>
          <input type="text" ng-model="lastname" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Firstname</span>
          <input type="text" ng-model="firstname" placeholder="">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Email</span>
          <input type="email" ng-model="email" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="signup-input9">
        <span class="input-label">Phone</span>
        <input type="number" ng-model="phone" placeholder="">
      </label>
      <label class="item item-input" id="signup-input16">
        <span class="input-label">Birth</span>
        <input type="date" ng-model="birth" placeholder="">
      </label>
      <label class="item item-input" id="signup-input17">
        <span class="input-label">Password</span>
        <input type="password" ng-model="password" placeholder="">
      </label>
      <label class="item item-input" id="signup-input18">
        <span class="input-label">Confirm password</span>
        <input type="password" ng-model="password_confirm" placeholder="" ng-model="password_confirm" >
      </label>

      <div class="spacer" style="width: 300px; height: 47px;"></div>
      <button id="signup-button3"  ng-click="register()" class="button button-positive button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>
